*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/app/build
/app/release
/app/google-services.json
/app/BayTalk.apk
/app/BayTalk.apk
/build
/captures
.externalNativeBuild
.cxx
.idea

